/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
/* Variables */
:root
{
    --document-width: 989px;
    --document-height: 1416px;
    /* --document-width: 980px;
    --document-height: 1407px; */
    --main-text-color: #d6d6d6;
    --wrapper-bg-color: #002907;
    --pro-tip-color: #a5c663;
    --normal-font: 'Archivo', sans-serif;
    --normal-font-size: 13px;
    --sub-header-font: 'Federant', serif;
    --sub-header-color: #ee9246;

    /* Debug */
    --hole-hitbox-color: #ff00003f;
    --wrapper-bg-color: #00000000;
    --debug-source-overlay-opacity: 0.5;
    /* Uncomment the above to view in debug mode */
    /* --hole-hitbox-color: #ff000000;
    --debug-source-overlay-opacity: 0; */
}

body
{
    background-color: #0f0f0f;
    color: var(--main-text-color);
}

/* --Grid layout-- */

.standardGridTile
{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
}

#wrapper
{
    padding: 0px;
    background-color: var(--wrapper-bg-color);
    display: grid;
    grid-template-rows: 14% 84% 2%;
    grid-template-areas:    "header"
                            "content"
                            "footer";

    /* The wrapper should be a static size so it looks like the document */
    /* 50% */
    width: var(--document-width);
    height: var(--document-height);
    /* Center and make it look like real magazine page :D */
    margin: 20px auto 100px;
    border: 5px solid gray;
    box-shadow: 20px 20px 20px black;

    
}
/* ------Wrapper Grid */
    header
    {
        grid-area: header;
        

        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-columns: 55% 5% 40%;
        grid-template-areas:    "logo   author  gameInfo"
                                "title  title   title";
        }
    /* ------Header Grid */
        #logo
        {
            grid-area: logo;
        }
        #credit
        {
            grid-area: author;
        }
        #gameInfoContainer
        {
            grid-area: gameInfo;
        }
        h1
        {
            grid-area: title;
        }

    #mainContent
    {
        grid-area: content;

        display: grid;
        grid-template-columns: 14.5% 1fr 21%;
        grid-template-rows: 100%;
        grid-template-areas: "specs articleArea rating";
    }
    /* ------Content Grid */
        #article
        {
            grid-area: articleArea;
            margin: 0px 21px;
            padding-top: 3px;
        }
            #article p
            {
                margin: 0px;
                font-family: var(--normal-font);
                font-size: var(--normal-font-size);
                line-height: 20.7px;
            }
            #article h2
            {
                /* display: inline; */
                font-family: var(--sub-header-font);
                margin-top: 6px;
                margin-bottom: 2.5px;
                font-size: 22px;
                letter-spacing: -1.7px;
                color: var(--sub-header-color);
            }
        #systemRequirments
        {
            grid-area: specs;
        }
        #categoryRatings
        {
            grid-area: rating;
        }

    footer
    {
        grid-area: footer;

        display: grid;
        grid-template-columns: 48% 1fr 48%;
        grid-template-areas: "footerInfo pageNumber contactInfo";
    }
    /* ------Footer Grid */
        #footerArticleInfo
        {
            grid-area: footerInfo;
        }
        #footerPage
        {
            grid-area: pageNumber;
        }
        #footerContactInfo
        {
            grid-area: contactInfo;
            justify-self: self-end;
        }

/* --Figures-- */


#imageContent
{
    position: relative;
    /* Helpful: https://dzhavat.github.io/2020/02/03/simple-way-to-negate-a-number-in-css */
    top: calc(var(--document-height) * -1);
}

figure.proTip
{
    overflow: visible;
}


#rail
{
    width: 283px;
    position: relative;
    left: 48px;
    top: 535px;
}


#barney
{
    width: 210px;
    position: relative;
    left: 52px;
    top: 551px;
}

#scientist
{
    width: 283px;
    position: relative;
    left: 48px;
    top: 535px;
}

#scientist,
#grunt,
#vortigaunt,
#revolver,
#houndeye,
#ressonence
{
    display: none;
}



/* Images and their Holes in the text that wrap */
/* Basically in order to have text wrap around images, I am manually baking invisble holes
into the text grid area. Why? Because the images need to be positioned over other grid cells
too and unless I want to make my main grid have like 100 rows and columns, this will have to do */

#wordWrapHoles
{
    margin: 0px;
}
#wordWrapHoles div
{
    background-color: var(--hole-hitbox-color);
    shape-outside: border-box;
}

#hole1
{
    /* use margin to position it, so weird */
    float: left;
    width: 188px;
    height: 265px;
    margin-top: 329px;
}
#hole2
{
    float: right;
    width: 192px;
    height: 265px;
    margin-top: -54px;
    margin-right: 101px;
}
#hole3
{
    float: right;
    clear: right;
    width: 191px;
    height: 267px;
    margin-top: -200px;
    margin-right: -144px;
}
#hole4
{
    float: left;
    clear: left;
    width: 205px;
    height: 497px;
    margin-top: 10px;
    margin-left: -85px;
}
#hole5
{
    float: right;
    clear: right;
    width: 206px;
    height: 290px;
    margin-top: 23px;
    margin-right: 100px;
}
#hole6
{
    float: right;
    clear: right;
    width: 137px;
    height: 172px;
    margin-top: 0px;
    margin-right: 100px;
}


/* Protip setup */
.proTip img
{
    border: 2px solid var(--pro-tip-color);
    width: 100%;
    margin: 0px;
}

.proTip figcaption
{
    color: var(--pro-tip-color);
    width: 105%;
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 17px;
    margin: -0.5% -1%;
}






/* TEMP DELETE */
#sourceOverlay
{
    display: block;
    position: relative;
    z-index: -1;
    /* top: calc(-130%); */
    translate: 0px -1515px;
    width: var(--document-width);
    opacity: var(--debug-source-overlay-opacity);
    
    margin: 20px auto 100px;
}